{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}


{% block main %}
    <div class = "container">
            <table class="table tablestriped">
                <thead>
                    <tr>
                        <th class="text-start">Symbol</th>
                        <th class="text-start">Name</th>
                        <th class="text-end">Shares</th>
                        <th class="text-end">Price</th>
                        <th class="text-end">TOTAL</th>
                    </tr>
                </thead>

                <tbody>
                    {% for share in shares %}
                        <tr>
                            <td class="text-start"> {{ share.symbol }}  </td>
                            <td class="text-start"> {{ share.stock_name }} </td>
                            <td class="text-end"> {{ share.count }} </td>
                            <td class="text-end"> {{ share.price | usd }} </td>
                            <td class="text-end"> {{ share.total | usd }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan = "4"> Cash </td>
                        <td class="border-0 text-end"> {{ cash | usd }} </td>
                    </tr>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan = "4"> TOTAL </td>
                        <td class="border-0 text-end"> {{ grand_total | usd }}  </td>
                    </tr>
                </tfoot>
            </table>

    </div>
{% endblock %}